# Boston housing

## Resources

- https://towardsdatascience.com/using-python-to-find-myself-a-rental-home-a0b1bf6f02e
- https://github.com/johnludwigm/PyApartments
- https://github.com/adinutzyc21/apartments-scraper
- https://www.dataquest.io/blog/apartment-finding-slackbot/

In [ ]:
# import requests as rq
# from bs4 import BeautifulSoup
# from urllib.request import urlopen,urlretrieve
# urlopen(url)
# urlretrieve(url, "page1.html")
# page = rq.get(url)
# soup = BeautifulSoup(page.content, "html.parser")
# soup.find(class_="rentInfoDetail")

## Selenium

### Installation

| Browser | Webdriver |
|---------|-----------------------------------------------|
| Chrome: |	https://sites.google.com/chromium.org/driver/ |
| Edge: |	https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/ |
| Firefox: |	https://github.com/mozilla/geckodriver/releases |

### Simple usage
https://selenium-python.readthedocs.io/getting-started.html#simple-usage

### Locating elements
https://selenium-python.readthedocs.io/locating-elements.html

Example usage:
```python
from selenium.webdriver.common.by import By

driver.find_element(By.XPATH, '//button[text()="Some text"]')
driver.find_elements(By.XPATH, '//button')
```

These are the attributes available for By class:
```python
ID = "id"
XPATH = "xpath"
LINK_TEXT = "link text"
PARTIAL_LINK_TEXT = "partial link text"
NAME = "name"
TAG_NAME = "tag name"
CLASS_NAME = "class name"
CSS_SELECTOR = "css selector"
```

In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome()

## Manual extract

In [84]:
url = "https://www.apartments.com/5-donnybrook-rd-boston-ma/rhyk6z3/"

In [85]:
driver.get(url)

In [86]:
# price = driver.find_element_by_class_name("rentInfoDetail")
price = driver.find_element(by=By.CLASS_NAME, value="rentInfoDetail")
price.text

'$2,750'

In [87]:
t = ["price","bedrooms","bathrooms","surface"]

In [88]:
info = driver.find_elements(by=By.CLASS_NAME, value="rentInfoDetail")
infos = [i.text for i in info]
dict(zip(t,infos))

{'price': '$2,750',
 'bedrooms': '3 bd',
 'bathrooms': '2 ba',
 'surface': '999 sq ft'}

In [89]:
address = driver.find_element(by=By.CLASS_NAME, value="propertyAddressContainer")
street = address.find_element(by=By.TAG_NAME,value="span").text
street

'5 Donnybrook Rd'

In [94]:
address.text.split("\n")[0]

'5 Donnybrook Rd, Boston, MA 02135'

In [90]:
[i.text for i in address.find_elements(by=By.TAG_NAME,value="span")]

['5 Donnybrook Rd', 'Boston', 'MA 02135', 'MA', '02135', 'Oak Square', '']

In [91]:
import pandas as pd
df = pd.DataFrame([infos],columns=t)
df["address"] = street
df["url"] = url
df

,price,bedrooms,bathrooms,surface,address,url
0,"$2,750",3 bd,2 ba,999 sq ft,5 Donnybrook Rd,https://www.apartments.com/5-donnybrook-rd-bos...

## Automate

https://www.apartments.com/5-donnybrook-rd-boston-ma/rhyk6z3/

In [3]:
# initialize dataframe
t0 = ["address","price","bedrooms","bathrooms","surface","url"]
# df = pd.DataFrame(columns=t0)
df = pd.read_csv("boston.csv",index_col=None)
df

,address,price,bedrooms,bathrooms,surface,url,location,point,latitude,longitude,altitude
0,"5 Donnybrook Rd, Boston, MA 02135","$2,750",3 bd,2 ba,999 sq ft,https://www.apartments.com/5-donnybrook-rd-bos...,"5, Donnybrook Road, Faneuil, Brighton, Boston,...","(42.35408248177119, -71.15858979568584, 0.0)",42.354082,-71.158590,0.0
1,"37 Ridgemont St, Boston, MA 02134","$2,600",3 bd,1 ba,NaN,https://www.apartments.com/3-br-1-bath-house-3...,"37, Ridgemont Street, Allston, Boston, Suffolk...","(42.35127582632487, -71.14216312306483, 0.0)",42.351276,-71.142163,0.0
2,"14 Gardner St, Boston, MA 02134","$2,700",3 bd,1 ba,"9,999 sq ft",https://www.apartments.com/14-gardner-st-bosto...,"14, Gardner Street, Koreatown, Allston, Boston...","(42.353655, -71.130336, 0.0)",42.353655,-71.130336,0.0
3,"407 Lowell Ave, Newton, MA 02460","$2,700",3 bd,1 ba,"1,100 sq ft",https://www.apartments.com/407-lowell-ave-newt...,"407, Lowell Avenue, Newtonville, Newton, Middl...","(42.34330739855092, -71.21152041404054, 0.0)",42.343307,-71.211520,0.0
4,"1834 Beacon St, Brookline, MA 02445","$2,500",2 bd,1 ba,804 sq ft,https://www.apartments.com/2-br-1-bath-house-1...,"1834, Beacon Street, Beaconsfield, Brookline, ...","(42.337473833333334, -71.14443666666666, 0.0)",42.337474,-71.144437,0.0
5,"5 Benson St, Boston, MA 02135","$3,000",3 bd,1 ba,999 sq ft,https://www.apartments.com/5-benson-st-boston-...,"5, Benson Street, North Brighton, Allston, Bos...","(42.35923779591836, -71.1403149387755, 0.0)",42.359238,-71.140315,0.0
6,"220 Boylston St, Watertown, MA 02472","$2,500",3 bd,1 ba,"2,000 sq ft",https://www.apartments.com/220-boylston-st-wat...,"220, Boylston Street, East Watertown, Watertow...","(42.36896507534028, -71.16433502297909, 0.0)",42.368965,-71.164335,0.0
7,"20 Lyne Rd, Boston, MA 02135","$2,800",3 bd,1 ba,"9,999 sq ft",https://www.apartments.com/20-lyne-rd-boston-m...,"20, Lyne Road, Aberdeen, Brighton, Boston, Suf...","(42.345747375, -71.1518449375, 0.0)",42.345747,-71.151845,0.0
8,"472 Western Ave, Boston, MA 02135","$3,000",3 bd,1 ba,999 sq ft,https://www.apartments.com/472-western-ave-bos...,"472, Western Avenue, North Brighton, Allston, ...","(42.361991698628344, -71.14261182846627, 0.0)",42.361992,-71.142612,0.0
9,"25 Everett St, Boston, MA 02134","$2,250",2 bd,2 ba,750 sq ft,https://www.apartments.com/25-everett-st-bosto...,"25, Everett Street, North Brighton, Allston, B...","(42.35469481965083, -71.13865145786019, 0.0)",42.354695,-71.138651,0.0
10,"7 Riverview Rd, Boston, MA 02135","$2,900",3 bd,1 ba,"1,464 sq ft",https://www.apartments.com/7-riverview-rd-bost...,"7, Riverview Road, Faneuil, Brighton, Boston, ...","(42.35704843170769, -71.16188461743043, 0.0)",42.357048,-71.161885,0.0
11,"15 Converse St, Boston, MA 02135","$2,700",3 bd,1.5 ba,"9,999 sq ft",https://www.apartments.com/15-converse-st-bost...,"15, Converse Street, Faneuil, Brighton, Boston...","(42.356207416090676, -71.15647302550221, 0.0)",42.356207,-71.156473,0.0
12,"5 Donnybrook Rd, Boston, MA 02135","$2,750",3 bd,2 ba,999 sq ft,https://www.apartments.com/5-donnybrook-rd-bos...,"5, Donnybrook Road, Faneuil, Brighton, Boston,...","(42.35408248177119, -71.15858979568584, 0.0)",42.354082,-71.158590,0.0
13,"120 Nonantum St, Boston, MA 02135","$2,950",3 bd,1 ba,"9,999 sq ft",https://www.apartments.com/120-nonantum-st-bos...,"120, Nonantum Street, Faneuil, Brighton, Bosto...","(42.34993890824561, -71.17259105988614, 0.0)",42.349939,-71.172591,0.0
14,"120 Nonantum St, Boston, MA 02135","$2,950",3 bd,1 ba,"9,999 sq ft",https://www.apartments.com/120-nonantum-st-bos...,"120, Nonantum Street, Faneuil, Brighton, Bosto...","(42.34993890824561, -71.17259105988614, 0.0)",42.349939,-71.172591,0.0
15,"214 Freeman St, Brookline, MA 02446","$3,000",2 bd,1 ba,"9,999 sq ft",https://www.apartments.com/214-freeman-st-broo...,"214, Freeman Street, Coolidge Corner, Brooklin...","(42.34745409090909, -71.11965009090909, 0.0)",42.347454,-71.119650,0.0
16,"66 Ashford St, Boston, MA 02134","$1,925",2 bd,1 ba,"9,999 sq ft",https://www.apartments.com/66-ashford-st-bosto...,"66, Ashford Street, Koreatown, Allston, Boston...","(42.354472333333334, -71.125401, 0.0)",42.354472,-71.125401,0.0
17,"13 Higgins St, Boston, MA 02134","$2,900",3 bd,1 ba,"1,000 sq ft",https://www.apartments.com/13-higgins-st-bosto...,"13, Higgins Street, Koreatown, Allston, Boston...","(42.35293102082434, -71.13585880961084, 0.0)",42.352931,-71.135859,0.0
18,"10 Higgins St, Boston, MA 02134","$3,000",3 bd,2 ba,900 sq ft,https://www.apartments.com/10-higgins-st-bosto...,"10, Higgins Street, Koreatown, Allston, Boston...","(42.35298005495826, -71.13561912742229, 0.0)",42.352980,-71.135619,0.0
19,"239 Harvard Ave, Boston, MA 02134","$2,050",2 bd,1 ba,"9,999 sq ft",https://www.apartments.com/239-harvard-ave-bos...,"239, Harvard Avenue, Koreatown, Allston, Bosto...","(42.3488506, -71.13002677972922, 0.0)",42.348851,-71.130027,0.0
20,"8 Feneno Ter, Boston, MA 02134","$2,700 - $2,900",3 bd,1 ba,999 sq ft,https://www.apartments.com/8-feneno-ter-boston...,"8, Feneno Terrace, Koreatown, Allston, Boston,...","(42.348064658742345, -71.132116008393, 0.0)",42.348065,-71.132116,0.0

In [11]:
import clipboard
from helper import geosearch
url = clipboard.paste()
# print(url)
driver.get(url)
info_elems = driver.find_elements(by=By.CLASS_NAME, value="rentInfoDetail")
infos = [i.text for i in info_elems]
address_elem = driver.find_element(by=By.CLASS_NAME, value="propertyAddressContainer")
address = address_elem.text.split("\n")[0]
infos.insert(0,address)
infos.insert(5,url)
df1 = pd.DataFrame([infos],columns=t0)
df2 = geosearch(df1)
df = pd.concat([df,df2],ignore_index=True)
df.to_csv("boston.csv",index=None)
df.tail()

,address,price,bedrooms,bathrooms,surface,url,location,point,latitude,longitude,altitude
24,"1988 Commonwealth Avenue, Boston, MA 02135","$2,850",2 bd,1 ba,,https://www.apartments.com/1988-commonwealth-a...,"(1988, Commonwealth Avenue, Aberdeen, Brighton...","(42.339527, -71.158084, 0.0)",42.339527,-71.158084,0.0
25,"20 Lyne Rd, Boston, MA 02135","$2,800",3 bd,1 ba,"9,999 sq ft",https://www.apartments.com/20-lyne-rd-boston-m...,"(20, Lyne Road, Aberdeen, Brighton, Boston, Su...","(42.345747375, -71.1518449375, 0.0)",42.345747,-71.151845,0.0
26,"8 Shepard St, Boston, MA 02135","$3,000",3 bd,1 ba,"1,200 sq ft",https://www.apartments.com/8-shepard-st-boston...,"(8, Shepard Street, Aberdeen, Brighton, Boston...","(42.347801901107424, -71.1498711168979, 0.0)",42.347802,-71.149871,0.0
27,"6A Islington St, Boston, MA 02134","$2,150",2 bd,1 ba,999 sq ft,https://www.apartments.com/6a-islington-st-bos...,"(Islington Street, North Brighton, Allston, Bo...","(42.3533481, -71.1367876, 0.0)",42.353348,-71.136788,0.0
28,"35 Crosby Rd, Chestnut Hill, MA 02467","$3,000",3 bd,1 ba,"9,999 sq ft",https://www.apartments.com/35-crosby-rd-chestn...,"(35, Crosby Road, Chestnut Hill, Newton, Middl...","(42.336353278940365, -71.17497488156418, 0.0)",42.336353,-71.174975,0.0

In [114]:
driver.quit()